body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: rgb(192, 192, 192);
}

header {
  background-color: rgb(0, 0, 0);
  padding: 0px;
  border: 0px;
  margin: 0px;
  opacity: 100%;
  text-align: center;
}

nav {
  text-align: center;
  border: 0px;
  margin: 0px;
}

nav a,
nav a:visited {
  padding: 30px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: darkgray;
}

.user_profile {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  text-align: left;
  background-color: white;
  padding: 30px;
}

a,
a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: black;
}



.title {
  margin: 0px;
  padding: 10px;
  border: 0px;
  text-align: center;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.76);
  color: rgb(255, 0, 0);
  opacity: 90%;
}

.img{
  text-align: center;
}

.user_name{
text-align: center;
}
footer{
text-align: center;
background-color: black;
color: white;
}
