<!DOCTYPE html>
<html>

<head>
	<title>Testing form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	  <div class="navbar-header">
		<a class="navbar-brand" href="#">Quazzaris</a>
	  </div>
	  <ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Page 1</a></li>
		<li><a href="#">Page 2</a></li>
		<li><a href="#">Page 3</a></li>
	  </ul>
	</div>
  </nav>

<body>
	<style type="text/css"></style>
	<link rel="stylesheet" href="/quizaris/static/logincss.css">

	<div class="container">
		<form method="POST" action="">
			{% block content %}
			<!-- Hidden tag will add a csrf token-->
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Quazzaris</legend>
				<div class="form-group">
					{{ form.email.label(class="") }}
					{{ form.email(class="") }}
					{{ form.password.label(class="") }}
					{{ form.password(class="") }}
				</div>
			</fieldset>
			{{ form.submit.label(class="") }}
			{{ form.submit(class="") }}
			{% endblock content %}
		</form>
	</div>
</body>

</html>