<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quizzaris</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

     <!--Navbar-->
     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="index"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="addquiz"><i class="fa fa-cog" aria-hidden="true"></i> Create Quiz</a></li>
                    <li><a href="quizzes"><i class="fa fa-address-book" aria-hidden="true"></i> Choose Quiz</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a href="register"><i class="fa fa-book" aria-hidden="true"></i> Register</a></li>
                    <li><a href="account"><i class="fa fa-archive" aria-hidden="true"></i> Account</a></li>
                </ul>
            </div>
        </div>
    </nav>

     <!--Jumbotron-->
     <div class="jumbotron">
        <div class="container text-center">
            <h2>Solve the questions</h2>
        </div>
    </div>

    <li>
        <h2>Question 1</h2>
        <h3>How tall is a bat</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) 2m </label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) 3m</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) 4m</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) 5m</label>
        </div>
    
    </li>


    <li>
        <h2>Question 2</h2>
        <h3>Fastest car is</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) Ford</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) Toyota</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C)Ferrari</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D)Buggati</label>
        </div>
    
    </li>



    <li>
        <h2>Question 3</h2>
        <h3>slowest car is</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) Ford</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) Toyota</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C)Ferrari</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D)Buggati</label>
        </div>
    </li>


    <li>
        <h2>Question 4</h2>
        <h3>biggest bird</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) manga b </label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) falcon</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) lion</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) ostritch</label>
        </div>
    
    </li>

    <li>
        <h2>Question 6</h2>
        <h3>smallest bird</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) manga b </label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) falcon</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) lion</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) ostritch</label>
        </div>
    
    </li>

    <li>
        <h2>Question 7</h2>
        <h3>strongest human</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) alberto</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) falcon</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) lion</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) ostritch</label>
        </div>
    
    </li>

    <li>
        <h2>Question 8</h2>
        <h3>weakest human</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) alberto</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) falcon</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) lion</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) ostritch</label>
        </div>
    
    </li>

    <li>
        <h2>Question 9</h2>
        <h3>funniest human</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) alberto</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) falcon</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) lion</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) ostritch</label>
        </div>
    
    </li>
    <li>
        <h2>Question 10</h2>
        <h3>Fastest human</h3>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
            <label for="question-1-answers-A">A) alberto</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
            <label for="question-1-answers-B">B) falcon</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
            <label for="question-1-answers-C">C) lion</label>
        </div>
        
        <div>
            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
            <label for="question-1-answers-D">D) ostritch</label>
        </div>
    
    </li>
    <button type="button">Submit</button>
</br>
    <!--Footer-->
    <footer class="container-fluid text-center">
        <p>Quizzaris Inc. | Copyright | Sitemap</p>
    </footer>

</body>

</html>