<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quizzaris</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-inverse sticky-top ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">Logo</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Jumbotron-->
    <div class="jumbotron">
        <div class="container text-center">
            <h2>Quizzaris - a community driven study site. Made for students, by students</h2>
            <input type="text" size="50" placeholder="Try a subject">
            <button type="button" class="btn btn-primary mb-2">Search</button>
        </div>
    </div>

    <!--Quiz boxes-->
    <div class="container">
        <div class="row">

            <!--Jumbotron-->
            <div class="col-sm-12">

            </div>
        </div>
        <h2 class="text-center">'CATEGORY'</h2>
        <br>
        <div class="col-sm-8">
            <div class="panel panel-primary">

                <div class="panel-heading text-center">'SUBJECT NAME' quiz</div>
                <div class="panel-body">

                    <div class="form-group row">
                        <label for="time" class="col-sm-8 col-form-label">Recommended time: 'X min'</label>
                    </div>
                    <div class="form-group row">
                        <label for="questions" class="col-sm-8 col-form-label">Questions: 'NUMBER OF QUESTIONS'</label>
                    </div>
                    <div class="form-group row">
                        <label for="difficulty" class="col-sm-8 col-form-label">Difficulty: 'DIFFICULTY LEVEL'</label>
                    </div>
                    <div class="form-group row">
                        <label for="completed" class="col-sm-8 col-form-label">'X' people have completed this quiz</label>
                    </div>
                    <br>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-secondary">Back to quizes</button>
                        <button type="submit" class="btn btn-primary">Start quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>