<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quizzaris</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Facebook icon</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="#">Logo</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Jumbotron-->
    <div class="jumbotron">
        <div class="container text-center">
            <h2>Sciences</h2>
            <input type="text" size="50" placeholder="Try a subject">
            <button type="button" class="btn btn-info">Search</button>
        </div>
    </div>

    <!--Quiz boxes-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Biology</div>
                    <div class="panel-body"><img src="#" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Chemestry</div>
                    <div class="panel-body"><img src="#" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Physics</div>
                    <div class="panel-body"><img src="#" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Social</div>
                    <div class="panel-body"><img src="#" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Space</div>
                    <div class="panel-body"><img src="#" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Earth</div>
                    <div class="panel-body"><img src="#" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </div>
        </div>
    </div><br><br>

    <!--Footer-->
    <footer class="container-fluid text-center">
        <p>Quizzaris Inc. | Copyright | Sitemap</p>
    </footer>

</body>

</html>