{% extends 'wireframe/addQuestiontemplate.html' %}

{% block body %}

<body>
<div class="container">
    <form method="POST" action="">
        {% block content %}
        <!-- Hidden tag will add a csrf token-->
        {{ current_users_data.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search - Quazzaris</legend>
            <div class="form-group">
                {{ current_users_data.label(class="") }}
                {{ current_users_data(class="") }}
            </div>

            <div class="form-group">
                {{  quizzes_done.label(class="") }}
                {{  quizzes_done(class="") }}
            </div>
        </fieldset>
        {% endblock content %}
    </form>

</body>
</html>

