{% extends 'wireframe/addQuestiontemplate.html' %}

{% block body %}



<div class="container">
    <div class="jumbotron">
        <h1>Create a quiz</h1>
        <p>Test your knowledge and be the best</p>
    </div>

    <form method="POST" action="">
        <p>What is your question</p>
        <fieldset class="form-group">
            <div class="form-group">
                {% for i in range(10) %}
                {{ add_question_forms[i].hidden_tag() }}
                {{ add_question_forms[i].question.label(class="form-control-label") }}
                {{ add_question_forms[i].question(class="form-control-label") }}
            </div>

            <div class="form-group">
                {{ add_question_forms[i].option_a.label(class="form-control-label") }}
                {{ add_question_forms[i].option_a(class="form-control-label") }}
            </div>

            <div class="form-group">
                {{ add_question_forms[i].option_b.label(class="form-control-label") }}
                {{ add_question_forms[i].option_b(class="form-control-label") }}
            </div>

            <div class="form-group">
                {{ add_question_forms[i].option_c.label(class="form-control-label") }}
                {{ add_question_forms[i].option_c(class="form-control-label") }}
            </div>

            <div class="form-group">
                {{ add_question_forms[i].option_d.label(class="form-control-label") }}
                {{ add_question_forms[i].option_d(class="form-control-label") }}
            </div>
            {% endfor %}
        </fieldset>
        {{ quiz_form.submit.label(class="") }}
        {{ quiz_form.submit(class="") }}
        
    </form>


    {% endblock body %}