<!DOCTYPE html>
<html>

<head>
    <title>SectionC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="indextemplate.css">
    <!--Google fonts link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="Images/logo.ico" type="image/x-icon" />
</head>

<body>
    <header id="pageHeader">Quizzaris</header>

    <nav id="nav">
        <ul>
            <li id="homePage"><a href="#">Home</a></li>
            <li id="quizzes"><a href="#">Quizzes</a></li>
            <li id="contact"><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section id="main">
        <h3 class="mainIntro">Quizzes</h3>
        <section class="quizzes">
            <a href="/Images/logo.png">Quiz 1</a>
            <a href="/Images/logo.png">Quiz 2</a>
            <a href="/Images/logo.png">Quiz 3</a>
            <a href="/Images/logo.png">Quiz 4</a>
        </section>

        <section class="mainExtra">
            <p>Some more info..</p>
        </section>
    </section>

    <nav id="side">Nav</nav>

    <div id="siteAds">Ads</div>

    <footer id="pageFooter">Footer</footer>
</body>