{% extends 'wireframe/quiz.html' %}

{% block body %}

    
<form method="POST" action="">
        <p>quizzies</p>
        <fieldset class="form-group">
            <div class="form-group">
                {{  choose_quiz_type_form.category.label }}
                {{  choose_quiz_type_form.category}}
            </div>

            <div class="form-group">
                {{  choose_quiz_type_form.difficulty.label }}
                {{  choose_quiz_type_form.difficulty}}
            </div>

            <div class="form-group">
                {{ select_quiz_to_do.select_box_quizzes.data.label }}
                {{ select_quiz_to_do.select_box_quizzes.data}}
            </div>

        </fieldset>   
            {{  choose_quiz_type_form.submit.label }}
            {{  choose_quiz_type_form.submit}}
    </form>


    {% endblock body %}

