{% extends 'wireframe/addQuestiontemplate.html' %}

{% block body %}

<body>
<div class="container">
    <form method="POST" action="">
        {% block content %}
        <p>choose quiz</p>
        <!-- Hidden tag will add a csrf token-->
        {{ choose_quiz_type_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search - Quazzaris</legend>
            <div class="form-group">
                {{ choose_quiz_type_form.label(class="") }}
                {{ choose_quiz_type_form(class="") }}
            </div>

            <div class="form-group">
                {{ select_quiz_to_do.label(class="") }}
                {{ select_quiz_to_do(class="") }}
            </div>

            <div class="form-group">
                {{  quizzes_done.label(class="") }}
                {{  quizzes_done(class="") }}
            </div>
        </fieldset>
        
    </form>
    {% endblock content %}
</body>
</html>
