{% extends 'wireframe/quiz.html' %}

{% block body %}

    
<form method="POST" action="/quizaris/templates/quiz.html">
        <p>quizzies</p>
        <fieldset class="form-group">
            <div class="form-group">
                {{  choose_quiz_type_form.category.label }}
                {{  choose_quiz_type_form.category}}
            </div>

            <div class="form-group">
                {{  choose_quiz_type_form.difficulty.label }}
                {{  choose_quiz_type_form.difficulty}}
            </div>
        </fieldset>
    </form>


    {% endblock body %}