{% extends 'wireframe/quiz.html' %}

{% block body %}

    <form method="POST" action="">
        {{ quiz_form.hidden_tag() }}
        {{ quiz_form.quizname.label}}
        {{ quiz_form.quizname}}

        <p>Answer your question</p>
        <fieldset class="form-group">
            <div class="form-group">
                {% for i in range(1) %}
                {{ solve_question_array[i].hidden_tag() }}
                {{ solve_question_array[i].question.label }}
                {{ solve_question_array[i].question}}
            </div>
            {% endfor %}
        </fieldset>
    </form>


    {% endblock body %}

