<!DOCTYPE html>
<html>

<head>
  <title>SectionC</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <!--Google fonts link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="Images/logo.ico" type="image/x-icon" />
</head>

<header>
  <!--Navigation bar -->
  <nav>
    <a href="index.html"><i class="fa fa-home"></i> HOME</a>
    <a href="sectionc.html">SECTION C</a>
    <a href="sectiond.html">SECTION D</a>
    <a href="sectione.html">SECTION E</a>
  </nav>
</header>

<body>
  <!--Team section -->
  <div class="title">
    <h1>The Team</h1>
  </div>

  <!--Theo Paragraph -->

  <div class=user_profile>
    <div class=user_name>
      <h2>Theophilo Serur</h2>
    </div>
    <div class="img">
      <img src="Images/theo.png" alt="Hot boi"></div>

    <h3>About me</h3>
    <p>Email: S3796563@student.rmit.edu.au </p>

    <p>I'm Post-graduate in business administration, passionate about working in multi-cultural teams. I have had
      Experience as manager, working in small and medium sized companies and
      Interested in business consulting. I have a Lack of coding experience that can improve and am Aiming to develop
      programming skills and new work methodologies. i am in need of improving
      my habit of Low productivity working from home/online and am not prepared for setting an efficient schedule
      while
      tasks are not face-to face. The area that some of my team members perceive as weakness varies
      for Emma it is her programming skills and time management while for Julian it seems to be his overall time
      management or motivation, while Ahnaf could improve on his communication skills, and Theo
      seems to also have a lack of motivation while Siddhesh has problems with completing deadlines on time while
      Wilson could work on communication and showing up for group meetings. some challenges i could face is the use of
      coding languages such as HTML, CSS and Javascript, as I have no previous experience and i see my self
      contributing
      to the team in Ideation, layout creation and the actual programming aspect
      so i could improve these skills and challenge myself. </p>
  </div>
  <!--Emma Paragraph -->
  <div class=user_profile>
    <div class=user_name>
      <h2>Emma Sun</h2>
    </div>
    <div class="img">
      <img src="Images/emma.jpg" alt="scary"></div>


    <h3>About me</h3>
    <p>Email: s3812428@student.rmit.edu.au </p>

    <p>I don't have a detailed background in IT but one in science (Bachelor of Biomedicine Major in Cell and
      Developmental Biology) and
      Currently am interested in learning more about website design, HTML, CSS etc. My strong points would be –
      attention to details. Strongest point would be HTML in terms of IT but still learning to code. Interested in
      website design for IT,
      biology/sciences and arts crafts outside of IT and my weak points would be in HTML, CSS, Java/JavaScript. My
      other team members weakness would be low productivity when working from home for Theo
      and for Julian it is that he might not get things done on time and for Ahnaf it would be communication and for
      Wilson is participating and contributing to the team and Siddhesh would be completing deadlines on time. When
      assigned a task I could see myself doing is coding some of the html and CSS for the website because it is
      relatively easy to learn.
      Also researching and collecting data is something I could also do.</p>

  </div>

  <!--Siddhesh Paragraph -->
  <div class=user_profile>
    <div class=user_name>
      <h2>Siddhesh Kale</h2>
    </div>
    <div class="img">
      <img src="Images/sid.jpg" alt="plankton"></div>


    <h3>About me</h3>
    <p>Email: s3854666@student.rmit.edu.au</p>

    <p> I am a first-year student interested in cyber security. I did my high school and 1 semester of university
      in
      Adelaide and transferred over. I enjoy automating very simple stuff in python and I find that very
      interesting. I also like playing capture the flag games. There are things I would like to Improve on such as
      how to plan for industry projects and expand my knowledge to learn more about how computers work
      and Hopefully, I will also develop my communication skills by collaborating with different people
      to make a project that everyone is happy with. Many team members have expressed some things that they are
      weak
      in and could improve up on
      such as Ahnaf needing to expand his knowledge in CSS and Theo needing to get more motivated while Julian
      being
      able to do things in a deadlines
      and Emma needing to expand on her HTML skills while Wilson could be more communicative. Some challenges i
      might face would be in this project will be building the ideas that we come up with in real life as in the
      previous projects I've only come up with ideas without making them. I would help the team by contributing to
      the website development part and a part of the project where we might talk about security.</p>

  </div>

  <!--Julian Paragraph -->
  <div class=user_profile>
    <div class=user_name>
      <h2>Julian Chessari</h2>
    </div>
    <div class="img">
      <img src="Images/julian.jpg" alt="plankton"></div>


    <h3>About me</h3>
    <p>Email: s3844976@student.rmit.edu.au</p>

    <p>I currently studying a Bachelor of Information Technology at RMIT university. My background is Italian My
      main hobbies include playing games such as counter strike global offensive and rocket league on PC. I also
      play basketball and AFL in my free time either at home or at a park. My main interests in IT is cyber
      security as I find their methods of defending and attacking interesting, also take interest in
      programming.
      A strong point would be that I work hard when given a task. Something that interests me is the cyber
      security sector.One of my weak points would be that I leave things to do until the last minute so I could
      probably work on my time management and try to get this project done the day before its due. Each group
      members seem to
      have a weakness such as Emma needing to improve her coding skills, Theo needing to improve his time
      schedule, Siddhesh learning how to
      deal with stress, Ahnaf working on his time management and Wilson needing to attend group meetings on
      time.
      I would help the team by contributing to the website development part and a part of the project where we
      might talk about security
    </p>


  </div>

  <!--Ahnaf Paragraph -->
  <div class=user_profile>
    <div class=user_name>
      <h2>Ahnaf Zaman</h2>
    </div>

    <div class="img">
      <img src="Images/an.jpg" alt="plankton"></div>


    <h3>About me</h3>
    <p>Email: s3842928@student.rmit.edu.au</p>

    <p> I'm a First year RMIT student currently doing the bachelor of I.T originally from New Zealand and
      moved
      to
      Australia where I finished year 12. Been interested in I.T since high school particularly in robotics
      and
      coding as well as having a slight interest in web development. My strong points are that i Have a basic
      knowledge of web programming and know how to use many programs useful to a teamwork environment such as
      GitHub and Microsoft teams and have many interests such as cars and video games, but also robotics and
      machine learning. My weak points would be Designing aspects as well as using programming languages such
      as
      java or python that I could work on as well as further improve my knowledge of CSS so I would like to
      work
      on design and CSS to improve my skills. Some weakness other members of my group perceive are that Julian
      tends
      to not fulfill his deadlines which is a similar cases fot Theo but that stems from him not being
      motivated
      this semester
      while emma believe she could improve on her coding skills and Siddhesh seems to be stressed easily which
      could impact his performance
      and Wilson could improve on his concentration and commitment. Some challenges for me are Implementing
      features that
      are more complex and finishing advanced features such as the chat bot for the Covid app as well as
      finishing all my task before the deadline. Task i would like to do are hosting the teams website as well
      as
      developing parts of the website with HTML and CSS and work with one of the group members to implement a
      design for the website as well as work on the chatbot
    </p>

  </div>

  <!--Wilson Paragraph -->
  <div class=user_profile>
    <div class=user_name>
      <h2>Wilson Susanto </h2>
    </div>
    <div class="img">
      <img src="Images/image.png" alt="boi"></div>

    <h3>About me</h3>
    <p>Email: s3737493@studemt.rmit.edu.au</p>
    <p> Second Year RMIT students and interested in develop software and website. Have a basic skill on java
      programming and web programming and simple python skill. The deeply application of the programming
      might
      be hard for me but it is interesting for me to develop the project. My weakness is that sometimes I
      will
      stuck on some part of the function of the project and waste a lot of time in there. My weakness is
      that
      sometimes I will stuck on some part of the function of the project and waste a lot of time in there.
      I am good at looking for the programming technique in the resources and try to applicate them into the
      project, and keep contact with my team to get feedback.
    </p>

  </div>

  <div class="title">
    <h1>The project</h1>
  </div>


  <div class=user_profile>
    <div class=user_name>
      <h2>Project Description </h2>
    </div>
    <div class="img">
      <img src="Images/logo.png" alt="plankton"></div>
    <p> Quizzaris is a study app that allows students to collaborate and test each other with questions created by
      themselves, tutors
      and lecturers. They can choose between categories and take quizzes in a flashcard style to revise material or
      submit their own questions based on subject and topic.

      The app will allow students to take quizzes in topics of their interest. Upon checking an answer, statistics like
      the percentage of users who chose which answers, its explanations and solution discussions will be shown. A user
      will have a profile area so that progression is recorded and made available for each person that logs in. Quizzes,
      answers, and comments can be voted by anyone; some people may have special attributes that enables moderator
      clearance.

      Based on personal progress, students will be able to access information on themselves such as which areas need
      improvement. And on top of that, study plans can be created and synced with university calendars and timetables.
      Ultimately, its main goal is to make student lives easier, and create a friendly, efficient learning environment.

      Some user stories can be used to further the understanding of the project. They will be developed in the following
      lines.
    </p>
    <ul>
      <li>As an international student that recently came to Melbourne, I am having trouble keeping my study schedule up
        to date - especially considering all events unfolding because of COVID. I am not used to having online classes,
        since I have always relied heavily on face to face conversations and study sessions with my friends and tutors.
        Having an intuitive layout with quick quizzes and online discussion about it would help keep me on track. </li>

      <li>As a tutor, I am used to seeing student reactions and can usually have a good guess about how well the class
        content is being absorbed. However, I feel a lack of home-based study for most of my pupils. Being able to
        monitor overall student progress in a unified study platform, especially on very specific topics, would allow me
        to better prepare class materials and assignment specifications. </li>

      <li>As a history student, I like to explore different subjects. Recently I have started some design courses and
        was eventually led to web programming. Through research, I feel that most of the free content available is not
        very well structured for someone from a completely unrelated field. Moreover, I do not adapt very well to the
        structure of posting questions and waiting for a reply on web forums. I would be very happy if I had some means
        of doing a quick study in targeted areas with the possibility of discussions with other pupils.</li>

      <li>As a lecturer, I want to make sure that students are covering the correct content and doing questions related
        to the course when they do quizzes so I want to be able to create and moderate the kind of questions, solutions
        and comments posted on quizzes to make sure they are not doing things off topic, not posting offensive content
        and to make sure that people are not mislead by incorrect solution explanations.
      </li>
    </ul>
  </div>

  <div class="title">
    <h1>features</h1>
  </div>

  <div class=user_profile>
    <div class=user_name>
      <h2>features</h2>
    </div>

    <h1>1. Users can do quizzes and see their score </h1>
    <p>It can be stated that this is the main feature of the project. Users will be able to choose quizzes based on
      subject topics, see solutions with explanations after answering them and have a record of their scores and
      attempts. Within the quiz, number of questions and difficulty level will be displayed.</p>
    <h2>Feature validation</h2>
    <ul>
      <li>Doing the quiz but leaving halfway through will prompt an alert that they are leaving the quiz. It will resume
        in the same point when returned to. </li>
      <li>Attempting to take the same quiz again will alert that the user has attempted it before but allow them to
        proceed. </li>
      <li>Unregistered users may take quizzes and view solutions, but their scores will not be saved. A warning message
        on attempt/completion will appear stating that results are only saved for registered users. </li>
    </ul>


    <h1>2. Users should register to be able submit questions and solutions </h1>
    <p>Registered users will be able to write their own questions. Submissions may be drafted should the user choose not
      to submit it immediately and rated by a Turn it in style system to alert about copies or similarity levels.
      Questions will have ratings, difficulty levels and suggestions for similar ones based on subject. Immediately
      after submission, the author will be directed to its post and have access to answers history. </p>
    <h2>Feature validation</h2>
    <ul>
      <li>Submissions of questions and answers are entered in the database.</li>
      <li>Blank submissions are not added and get and error alert.</li>
      <li>Non-registered users will receive a “Login required” on attempting to submit questions and answers.</li>
      <li>Incoherent or irrelevant submissions are flagged for further review before being accepted. </li>
    </ul>

    <h1>3. Users can see achievements, scores, and their progression </h1>
    <p>Registered users will have access to personal data highlighting progression, grades, scores, and attempt history
      in a written and graphical manner. Upon quiz completion, general and individual quiz scores are displayed.</p>
    <h2>Feature validation</h2>
    <ul>
      <li>Unregistered users will not have access to scores. On attempting to view scores a prompt will be shown asking
        for login. </li>
      <li>Registered users will have access to their all previous scores. If there are none, nothing will be displayed.
      </li>
    </ul>

    <h1>4. Registered users can leave comments and discuss about the quiz under solutions </h1>
    <p>Upon quiz completion, registered users will be able to scroll, edit, delete, and vote the comments that appear
      below the answers. Comments will have parent and child chains and a flag icon that can be used to alerts
      moderators. </p>
    <h2>Feature validation</h2>
    <ul>
      <li>Users will have access to comments and discussions after answering the quiz. Prompt for access denied when
        trying to view results before completing the quiz</li>
      <li>Unregistered users can view answers but not write comments.</li>
      <li>If a registered user tries to submit a blank comment, a message will be displayed stating that no submission
        will be made. If the comment contains blacklisted words such as inappropriate ones, the comment will not be
        submitted, and a prompt will be displayed stating that the comment contains blacklisted words. If a comment
        appears to be nonsensical or is voted as off topic, it will be hidden and flagged for further inspection from
        moderators. </li>
      <li>If a user repeatedly flags comments that turns out to be acceptable, a time-based restriction will be put into
        place denying them access to comment or flag. If an attempt to flag is made during that period, a prompt will be
        shown indicating the time left before they may do it again. Likewise, if multiple flags are put against the same
        user, the same restriction will apply. </li>
      <li>If a user re offends, the cool down period will increase, and after the third time a prompt will appear
        indication that the next offence will lead to permanent banishment. </li>
    </ul>

    <h1>5. Registered users can rate questions in terms of difficulty and whether the question was well written or not.
    </h1>
    <p>A question rating system will work based on popular voting. Should enough users flag as “needs improvement”, the
      question will be hidden, and a message will be sent to the author to revise it. Moderators may also do
      modifications. The most up voted ones will come to the top sections, and the down votes will push it down. Besides
      up and down votes, difficulty ranking can also be established as beginner, intermediate, advanced. </p>
    <h2>Feature validation</h2>
    <ul>
      <li>Unregistered used will be denied the ability to rate question difficulty and quality </li>
      <li>Registered users will only be allowed to change their votes once </li>
      <li>Edited questions will have their ratings reset </li>
      <li>Up voting enough may mark the question for review by moderation </li>
    </ul>
  </div>



  <div class=user_profile>
    <div class=user_name>
      <h2>Extended Features </h2>
    </div>
    <h1>1. Registered users can create study plans based on university calendar or timetable. </h1>
    <p>User area can be synced with university timetables and schedules through Google and Outlook calendars which be
      updated through .cal files. Study schedules can be mutable according to student progression and topic relevance.
      Study session efficiency is measured according to quiz scores, and areas in need of improvement highlighted based
      on topics of wrongly answered questions. </p>
    <ul>
      <li>If a user is not registered with a student email, they will not be able to sync timetables and will only be
        able to manually input timetable info and assignment times/topics. </li>
      <li>Unregistered users will not have access to this function. </li>
      <li>If a user is registered with a student email but fails to sync timetable data, they will be given the option
        to try again or input manually. </li>
    </ul>

    <h1>2. Registered users can compare their scores and performance against an aggregate of other users. </h1>
    <p>User profiles will contain personal scores that can be set to visible or hidden. Higher level users bypass hidden
      scores, and friends can compare score progression based on subject topics. </p>
    <ul>
      <li>If an unregistered user attempts to view scores of other users they will be denied, shown an error message
        indicating that they cannot view it due to not being a registered user. If they attempt to message or contact
        said user they will be denied and the message not sent. </li>
      <li>If a registered user attempts to view other users scores, they will be shown an overview of the user's
        profile. If the user attempts to look at individual scores and private information they will be denied access
        and show a message that they do not have high enough privilege to view this information. If the other user has
        privacy settings on, attempting to view their scores will prompt a message that their profile is private, and
        you cannot view their info. If the other user has privacy settings on, they can still be messaged and sending a
        message to another unknown registered user will be processed. </li>

      <li>A registered user that is certified a high level user (moderator, lecturer) can view all information. </li>
    </ul>

    <h1>3. Registered users can compare their scores and performance against an aggregate of other users. </h1>
    <p>Different permissions allow users to perform different actions, like editing, deleting, or flagging comments,
      creating questions and quizzes, prioritizing comments and votes, making announcements, changes to subject
      categories, or even banning other users. </p>
    <ul>
      <li>A registered user that is certified a high-level user (moderator, lecturer) can view all information of
        others.</li>
      <li>Base level users can access quizzes, create questions and answers. They will not have to option visible to
        them to edit other users' comments. </li>

      <li>If a user registers and applies for higher level clearance but does not supply ID, they are denied. If they
        supply their university email and university ID and a universally recognised ID, it will be processed and
        checked by someone in admin before their clearance is given. </li>

      <li>If a user attempts to impersonate a higher-level person for clearance, both accounts will be suspended until
        admin can confirm ID of the account owner. </li>
    </ul>
  </div>


  <div class=user_profile>
    <div class=user_name>
      <h1>Project motivation</h1>
    </div>

    <h2>Describe what motivated your group to choose this project? </h2>
    <p>The group started off with the idea of an app related to study or productivity because of the very well-known
      struggles associated with studying and university life. During a brainstorm session, the popular website Kahoot!
      was briefly mentioned. It is basically an online quiz game: an admin provides the users with a code that can be
      used to join a room. Inside it, a question followed by four flashcards appear on screen under a timer and whoever
      gets the rights answers faster wins. However, the application was greatly gamified and resulted in students who
      are not serious to ruin the learning experienced for the other students. Not only did this hinder the learning
      process for the students but also distracted the teachers from focusing on class.

      Another application that the team had a look at was piazza which allows students to sign up and participate in
      quizzes with the team. However, the application does not let a student sign up without a valid classroom. This
      results in the students being unable to sign up and practice without being a part of a class.

      That proved to be the inspiration that kick started the project and set us off with the idea of educational
      quizzes
      facilitated by the use of flashcards, which answers could be uploaded by students or lecturers, progress measured,
      content voted and synced with universities content and course structures. </p>

    <h2>How does it relate to your individual and collective interests? It is a laudable aim to try and create something
      which is beyond your current knowledge level and which addresses areas where you can enrich your IT Skills?</h2>

    <p>Considering we are all students that mostly have done the same courses and no industry experience, web developing
      skills are not yet fully developed among us. In addition, none of us have ever handled and delivered an IT project
      like this. For the completion of this assignment we are going to need knowledge in web development: specifically,
      HTML, CSS and Java script. Some database handling and integration with websites, design notions and teamwork.
      Considering our team, its diversity, different background and individual interests, it could be said that although
      not easy, there is potential for the project to be completed by the end of the semester. </p>
  </div>

  <div class="title">
    <h1>Project Justification</h1>
  </div>

  <div class=user_profile>
    <div class=user_name>
      <h1>Justified Workloads</h1>
    </div>
    <h2>Justified Workloads</h2>
    <p>The project requires the team to look up and implement several features that we have no prior knowledge about.
      Most of the time will be devoted to individual research and its following implementation inside the project scope
      for .e.g. none of the members in the team are very familiar with JavaScript and PHP which would be most likely
      used in the project. The use of other technologies will be researched and implemented as we go which would not
      only make the application better but also assist the team in learning about the various technologies used in the
      broader Information technology field. </p>

    <div class="img">
      <img src="Images/table.JPG" alt="scary"></div>

    <h2>Beyond Current Capabilities</h2>
    <p>The idea of the project is to extend your individual current IT knowledge. In this section you will explain what
      your current knowledge is and how completion of the project will extend it. We are looking to see how someone who
      might consider coding to not be their best skill, to use this project to improve their coding skills. If you are
      honest, this project will be of great benefit to your IT development. It’s important that each group member tries
      to move out of their current “comfort zone”.

      As outlined above the team members have very little experience with building websites, the website and its
      capabilities will require the team members to learn more about web programming including using JavaScript and
      perhaps PHP. The team also has very little experience with teamwork and project management work which requires
      good communication and time management skills. As a result of this course the team will have to learn these along
      with the technical skills to successfully complete a project and deliver a product. </p>

    <h2>Project Risk</h2>
    <p>The project relies on the diversity of the knowledge, which might suddenly get copied or the user might not
      continue to use the website because of the lack of difference of the knowledge. And the learning cost is also a
      risk for the questioner, for those people who already familiar with the original program or website that they use
      or people who get used to the traditional way to question people, it is hard for them to change to use our project
      which might decrease the number of potential users. On the other hand, the comfort U.I might be one of the issue
      of this project, since the people are get in touch with more kinds of website nowadays it is important that avoid
      user to not feel like the U.I design is not practical. Moreover the project might getting low benefit because of
      the market issue which is the lack of the frequent used users, since not a huge amount of people would like to
      using a quiz website, even though for people who want to use the quiz website, it is hard to provide that they
      would have the motivation to keep using it. </p>

      <div class="img">
        <img src="Images/timetable.JPG" alt="scary"></div>
  </div>

</body>
<!--The footer -->
<footer>
  <p>Footer</p>
</footer>

</html>

<!--Source: https://www.w3schools.com/ -->